* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.App,
header nav ul,
.page {
	display: flex;
}

.App,
.page {
	flex-direction: column;
}

.App {
	min-height: 100vh;
}

header .logo {
	padding: 1.5vmin;
	text-align: center;
	font-size: 2.7vmax;
}

header nav ul {
	align-items: center;
	justify-content: space-evenly;
	padding: 2vmax;
}

header nav ul li {
	list-style: none;
}

header nav ul li a {
	text-decoration: none;
	font-family: Roboto, sans-serif;
	font-size: 2.3vmin;
}

.page {
	flex-grow: 1;
	justify-content: flex-end;
	padding: 0 0 10vmin 10vmin;
	color: #fff;
	font-size: 10vmax;
	font-family: 'Product Sans', sans-serif;
}

.page > * {
	max-width: 400px;
}

#home {
	background-color: #0f4c75;
}

#about {
	background-color: #5e6f64;
}

#portfolio {
	background-color: #1b262c;
}

#contacts {
	background-color: #838383;
}

#services {
	background-color: #e8505b;
}

